<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="login/styles/styles.css">
  <title>Realtime Panthers CHAT</title>
</head>
<body>
  <div class="wrapper">
    <section class="form login">
      <header>☕︎ Realtime Panthers CHAT ☕︎</header>

      <ul>
        <% if (typeof errors != 'undefined' && errors.length >  0) { %>
          <% errors.forEach(error => { %>
            <li style="color: red;"><%= error.message %></li>
          <% }) %>
        <% } %>
      </ul>
  
      <ul>
        <% if(messages.success_msg) { %>
        <li><%= messages.success_msg %></li>
        <% } %>
      </ul>
  
      <ul>
        <% if (messages.error) { %>
        <li><%= messages.error %></li>
        <% } %>
      </ul>

      <form action="/" method="POST" autocomplete="off">
        <div class="error-text"></div>
        <div class="field input">
          <label>Email</label>
          <input type="text" name="email" placeholder="Enter your email" required>
        </div>
        <div class="field input">
          <label>Contraseña</label>
          <input type="password" name="password" placeholder="Ingrese una contraseña" required>
          <i class="fas fa-eye"></i>
        </div>
        <div class="field button">
          <input type="submit" name="submit" value="Continue to Chat"> 
        </div>
      </form>
      <div class="link">No te has registrado<a href="/signup"> Inscríbete!</a></div>
    </section> 
  </div>
</body>
</html>